body{
    width: 90%;
    margin: 0 auto;
}
.grid-controller{
    display: grid;
    /* grid-template-columns: auto auto auto auto;
     */
     grid-template-columns: repeat(4, 1fr);
     gap: 20px;
}
/* .single-area{
    border: 2px solid gray;
    border-radius: 10px;
} */
.single-content{
    padding: 10px;
}
/* .single-content img{
    width: 100%;
} */
/* .single-content h3, a{
    display: flex;
} */